@use "sass:map";

$select: ".font" !default;

// abstracts
@use "../../../Shared/css/template/base/utils/unit-conversion";

$list: (
    base: (
        futura-pt,
        sans-serif
    ),
    primary: (
        futura-pt,
        sans-serif
    ),
    secondary: (
        montserrat,
        sans-serif
    ),
    tertiary: (
        bebas-neue-pro-semiexpanded,
        sans-serif
    )
);

@function get($name) {
    @return map.get($list, $name);
}

@function em($pixel) {
    @return #{unit-conversion.to-em($pixel)};
}

@function rem($pixel) {
    @return #{unit-conversion.to-rem($pixel)};
}

@mixin selectors {
    #{$select} {
        @each $name, $font in $list {
            &-#{$name} {
                font-family: $font;
            }
        }

        @content;
    }
}

@mixin request {
}
