@use "sass:map";

// config
@use "../config/colors";

// interfaces
@use "dtm";

// layouts
@use "../layouts/form";
@use "../layouts/fancybox";

// components
@use "../../../Shared/css/template/shoppingcart/components/icons";
@use "../../../Shared/css/template/base/components/validate" with
    ($separator: "", $font-size: 1em);
@use "../../../Shared/css/template/shoppingcart/components/validation-summary-errors"
    as vse;
@use "../components/payment-icons";
@use "../../../Shared/css/template/shoppingcart/components/divider-line";
@use "../../../Shared/css/template/shoppingcart/components/burst";
@use "../../../Shared/css/template/shoppingcart/components/dropdown";

@use "../components/order-table";
@use "../components/order-item";
@use "../components/button";
@use "../components/product-offer";

// utils
@use "../../../Shared/css/template/dtm/utils/scope";

// abstracts
@use "../abstracts/offer-details";

@mixin checkout {
    @include dtm.base;
    @include dtm.express-checkout;

    @include order-table.new;
    @include order-table.item-grid {
        tbody {
            td {
                &:first-child {
                    @include order-table.span-item-grid-row;
                }

                &:not(:first-child) {
                    @include order-table.flex-item-grid-row;
                }
            }
        }
    }

    @include form.base;
    @include form.select-to-default;

    @include icons.combobox;

    @include validate.new {
        &__group {
            order: 1;
        }
    }

    .requiredIcon {
        color: map.get(validate.$colors, invalid);
        margin-right: 0.25em;
    }

    @include vse.new {
        color: map.get(validate.$colors, invalid);
    }

    @include payment-icons.base;

    @include offer-details.base;

    @include product-offer.base;

    @include fancybox.base;
    @content;
}
