$select: ".form" !default;

// config
@use "../config/fonts";
@use "../config/colors";

// layouts
@use "../../../Shared/css/template/base/layouts/form";

// abstracts
@use "../../../Shared/css/template/base/abstracts/group";
@use "../../../Shared/css/template/base/abstracts/copy";

// themes
@use "../../../Shared/css/template/base/themes/background";

@mixin base {
    @include form.new;

    @include form.fieldset;
    @include form.field-label;
    @include form.select;
    @include form.checkbox;

    #{$select} {
        z-index: 1;

        &__header {
            text-align: center;
            color: colors.get(accent);
        }

        &__title {
            flex: 1 1 100%;

            padding: 0.5em;
            @include background.color-map(
                $background-color: colors.get(legend),
                $text-color: colors.get(default-light)
            );

            text-align: left;
            line-height: 1;
            font-size: fonts.em(20);
        }

        &__group {
            @include group.contain;
            @include group.flexchild(1 1 10em);
        }

        &__payment-icons {
            justify-content: flex-start;

            > img {
                max-width: 37px;
            }
        }

        &--select &__button {
            width: 3em;
        }

        &__group-section {
            @include group.contain(1em);
            @include group.flexchild(1 1 23em);
        }

        &__group,
        &__group-section {
            overflow: visible;
        }

        &__span-item {
            flex: 1 1 100%;
        }

        &__message {
            text-align: center;
        }

        &__fieldset {
            align-items: center;
            justify-content: space-between;
            flex-basis: 100%;
        }

        &__item-input-label {
            flex: 0 1 auto;
        }

        &__field-label {
            font-size: 1em;
        }

        label,
        &__field {
            font-size: inherit;
        }

        &__field {
            padding: 0.5em;
        }

        &__cvv {
            align-items: center;
        }

        &__cvv &__field {
            flex-basis: 15rem;
        }

        &__cvv &__link {
            font-size: 1em;
        }

        &__copy {
            @include copy.separate;
        }

        &__checkbox-label-attention {
            display: inline-block;
        }

        &__checkbox-label-attention &__label {
            border: 1px solid colors.get(accent);
            padding: 1em 1.5em;

            align-items: center;
        }

        &__action {
            margin-top: 2rem;
        }

        &__action-text {
            text-align: center;
        }

        &__submit:not([data-state="card"]) > &__button {
            display: none;
        }

        &__submit {
            &:not([data-state="card"]) {
                > svg {
                    display: none;
                }
            }

            &[data-state="card"] {
                > img {
                    display: none;
                }
            }
        }

        &__ssl > img {
            margin: auto;
        }

        label[for="zc"] {
            @include group.contain;
            align-items: center;
        }

        @content;
    }

    @include inline-combobox-label;
}

@mixin inline-combobox-label {
    #{$select} {
        &--inline-combobox-label {
            label {
                flex: 0 1 auto;
            }

            #{$select} {
                &__field-label {
                    @include group.contain;
                    justify-content: flex-start;
                    align-items: center;
                }

                &--select {
                    flex: 0 1 7em;
                }
            }

            @content;
        }
    }
}

@mixin select-to-default {
    .dtm .reviewTableBody select {
        border: 1px solid black;
        padding: 0.5em;
        -webkit-appearance: auto;
        appearance: auto;
    }
}
