$select: ".hero" !default;

// config
@use "../config/fonts";
@use "../config/colors";
@use "../config/queries";

// abstracts
@use "../../../Shared/css/template/base/abstracts/group";
@use "../../../Shared/css/template/base/abstracts/copy";

// themes
@use "../../../Shared/css/template/base/themes/background";

@mixin base {
    #{$select} {
        @include background.color-map(
            $background-color: colors.get(complement),
            $text-color: colors.get(primary)
        );
        text-shadow: 0 1px 1px white;

        margin-bottom: 3em;

        header {
            @include copy.separate(1em);
        }

        &__in {
            padding-bottom: 0;
        }

        &__bg {
            object-position: top;
        }

        &__group {
            @include group.contain;
            align-items: center;
            overflow: visible;
        }

        &__offer-price-payment {
            flex: 1 1 25em;

            font-size: 0.9em;
        }

        &__offer-price {
            margin: 1.6em 0 1em;
            font-size: fonts.em(25);
            text-shadow: 0.05em 0.05em 0 white;
            small {
                font-weight: 400;
                font-style: italic;
                padding-left: 1em;
                display: block;
            }
        }

        &__offer-retail {
            color: colors.get(callout);
            //text-decoration: line-through;
            font-size: 1.15em;
            position: relative;
            display: inline-block;
            &::after {
                content: "";
                display: block;
                width: 100%;
                height: 0.075em;
                background: colors.get(callout);
                z-index: 0;
                position: absolute;
                top: 53%;
                left: 0; right: 0;
            }
        }

        &__offer-callout {
            margin: 0.15em 0 0;
            font-size: 1.55em;
            line-height: 1.2;
            font-weight: 600;
            em {
                display: block;
                font-style: normal;
                color: colors.get(callout);
                font-size: 0.85em;
            }
        }

        &__order-payment {
            @include copy.separate(1em);
            padding-bottom: 0.75em;
        }

        &__payment {
            font-size: 0.75em;
        }

        &__title {
            font-weight: 400;
            text-transform: uppercase;
            font-size: 2.45em;
            line-height: 1.2;

            max-width: 15em;
            margin: auto 0;
        }

        &__banner {
            display: inline-block;
            padding: 0.5em 1.5em;
            border: 1px solid currentColor;

            line-height: 1;
            letter-spacing: 0.15em;
            font-weight: 500;
            font-size: 1.4em;

            @include background.color-map(
                $background-color: colors.get(accent-light),
                $text-color: colors.get(primary)
            );

            > sup {
                bottom: 0;
                margin: 0;
            }
        }

        &__product-celebrity {
            flex: 0 1 37em;

            position: relative;
        }

        &__product-celebrity > &__group {
            flex-wrap: nowrap;
        }

        &__product {
            margin-right: -7em;
            margin-bottom: -7em;
            z-index: 2;

            max-width: queries.em(153);
            width: 100%;
        }

        &__bonus {
            position: absolute;
            left: -8.6em;
            bottom: -6em;
            z-index: 2;
            max-width: 11em;
            picture {
                position: relative;
                z-index: 2;
            }
        }

        &__stacked-banner {
            position: absolute;
            z-index: 1;
            left: -10em;
            bottom: 5em;
        }

        &__celebrity {
            max-width: queries.em(532);
            width: 100%;

            position: relative;
            z-index: 1;

            // kill additional whitespace
            picture {
                margin-bottom: -7px;
            }

            > figcaption {
                position: absolute;
                right: 20em;
                bottom: 9em;

                font-size: fonts.em(16);
                text-transform: uppercase;
                text-align: right;
                line-height: 1.1;

                color: colors.get(complement-light);

                max-width: 7em;
            }
        }

        &__scorpion {
            position: absolute;
            z-index: 0;
            top: 0;
            right: 0;

            opacity: 0.1;

            width: 13em;
            height: 21em;
        }

        @content;
    }
    @media all and (max-width: queries.set(1200)) {
        #{$select} {
            &__offer-price-payment {
                font-size: 0.7em;
            }
        }
    }

    @media all and (max-width: queries.set(1100)) {
        #{$select} {
            &__product-celebrity {
                font-size: 0.8em;
            }
        }
    }

    @media all and (max-width: queries.set(1000)) {
        #{$select} {
            &__offer-price-payment {
                font-size: 0.65em;
            }
            &__product-celebrity {
                font-size: 0.75em;
            }
        }
    }

    @media all and (max-width: queries.set(900)) {
        #{$select} {
            &__offer-price-payment {
                margin: 0 auto;
                text-align: center;
                font-size: 1em;
                flex: 0 1 100%;
            }
            &__title {
                margin: auto;
            }
            &__product-celebrity {
                //font-size: 2vw;
                flex: 0 1 100%;
                #{$select}__group {
                    justify-content: center;
                }
            }
            &__scorpion {
                max-width: 7em;
            }
            &__bonus {
                left: 36.4em;
            }
        }
    }

    @media all and (max-width: queries.set(640)) {
        #{$select} {
            font-size: 2.2vw;

            &__offer-price-payment {
                font-size: 1.25em;
            }

            &__title {
                font-size: 6vw;
            }
        }
    }
}
