$select: ".testimonials" !default;

@use "../config/fonts";
@use "../config/colors";
@use "../config/queries";

@use "../../../Shared/css/template/base/themes/background";

@mixin base {
    #{$select} {
        background: url("/images/ocean.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        text-align: center;
        font-family: fonts.get(accent);
        padding: 4em;

        h2,
        h3 {
            font-family: fonts.get(base);
        }

        figcaption {
            font-weight: 600;
        }

        @media screen and (max-width: 850px) {
            padding: 1em 1em 3em;
        }

        &__title {
            font-size: fonts.em(50);
            font-weight: 400;
            line-height: 1;

            color: colors.get(primary);

            z-index: 1;
            margin-bottom: 2rem;

            @media all and (max-width: queries.get(document-mobile-portrait)) {
                font-size: 8vw;
                padding-top: 0.5em;
            }
        }

        &__stars {
            width: queries.em(137);
            height: queries.em(26);
        }

        &__figure {
            padding: 2em;

            border: colors.get(primary-light) 1px solid;
            box-shadow: 0.1em 0.2em 0.1em rgba(0, 0, 0, 0.25);
            font-family: fonts.get(secondary);

            @include background.color-map(
                $background-color: colors.get(default-light),
                $text-color: colors.get(default-dark)
            );

            margin: 1em;

            img {
                margin: auto;
            }

            > * {
                margin: 1em 0;
            }

            @media all and (max-width: queries.get(document-mobile-portrait)) {
                padding: 1em;
            }
        }
        @content;
    }
}
