// interfaces
@use "../../../Shared/css/template/shoppingcart/interfaces/dtm";

// components
@use "../../../Shared/css/template/shoppingcart/components/validation-summary-errors"
    as vse;

// utils
@use "../../../Shared/css/template/dtm/utils/scope";

@mixin base {
    @include dtm.form;
    @include dtm.review-table;
    @include dtm.facebox;
    @include dtm.remove-form-headline;
    @include dtm.remove-fieldset-border;
}

@mixin page {
    @include scope.for-template {
        @include dtm.layout;
        @include dtm.set-font-size;
        @include vse.new;
    }

    @include dtm.set-root-default;
    @include dtm.process-payment;
}

@mixin upsell {
}

@mixin confirmation {
}

@mixin express-checkout {
    @include dtm.express-checkout {
        @include scope.for-template {
            #{dtm.$select-checkout} {
                padding: 0.5rem;
                margin: 0.5rem;
                flex: 1 1 100%;
                flex-wrap: wrap;

                [for="otCARD"] {
                    img {
                        flex: 0 0 3rem;
                        max-width: 3rem;
                    }
                }
            }
        }
    }

    .paypal__note {
        flex: 1 1 100%;
    }
}
