$select: ".nav" !default;

// config
@use "../config/fonts";
@use "../config/colors";
@use "../config/queries";

// layouts
@use "../../../Shared/css/template/base/layouts/nav" with
    (
        $colors: (
            text: currentColor,
            background: colors.get(primary-light),
            button-open: currentColor,
            button-close: colors.get(primary)
        ),
        $mq: (
            container-min: queries.get(nav-min),
            container-max: queries.get(nav-max)
        )
    );

@mixin base {
    @include nav.new {
        text-transform: uppercase;
        font-weight: 500;
        color: colors.get(default-light);

        box-shadow: none;
        border-top: 1px solid currentColor;
        z-index: 10;

        &__in {
            padding: 0;
        }

        &__link[href="#order"] {
            border: 1px solid colors.get(primary-fade);
            margin: 0.5rem;
        }
    }

    @include nav.bar {
        &__in > &__logo {
            display: none;
        }

        &__logo {
            font-size: 0.5em;
            opacity: 0;
        }

        &__list {
            transition: transform 0.2s ease-in-out;

            > a {
                flex: 0 1 auto;
            }
        }

        &:not(&--is-fixed) &__list {
            @include nav.transition-opacity-transform(1, -10%, false);
        }

        &__link {
            padding: 1rem;
        }

        &__link[href="#order"] {
            padding: 0 1rem;
        }
    }

    @include nav.drawer {
        &__logo {
            font-size: 0.5em;
        }

        &__label {
            margin-right: 1em;
            color: currentColor;
        }
    }

    #{$select} {
        @content;
    }
}
