$select: ".button" !default;

// config
@use "../config/fonts";
@use "../config/colors";

// components
@use "../../../Shared/css/template/base/components/button";

// utils
@use "../../../Shared/css/template/dtm/utils/scope";

@mixin base {
    @include scope.for-template {
        @include button.new(colors.get(callout), colors.get(base-light)) {
            font: 500 fonts.em(24) fonts.get(primary);
            text-transform: uppercase;
            text-decoration: none;

            padding: 0.5em 1em;

            &--can-scale {
                font-size: 1em;
            }

            &--order {
                @include button.color-map(
                    colors.get(primary-light),
                    colors.get(default-light)
                );
            }
        }
    }

    #{$select} {
        @content;
    }
}
